---
import Section from "../Section.astro";
import Title from "../Title.astro";

---

<Section id="about">
    <Title text="About us" />
    <div class="flex flex-col md:flex-row gap-8 font-extralight font-pixelify">
        <p>We are a game aggregator striving to provide you with the best gaming experience. Our goal is yo bring players from around the world together and offer them a wide selection of games to enjoy and immerse themselves in captivating gameplay.</p>
        <p>In our aggregator, you will find the most popular games across vario genres, from thrilling action and adventure to clever puzzles and strategies. We carefully curate games to cater to the diverse preferences and interests of our users.</p>
    </div>
</Section>